.container {
  max-width: 1190px;
  margin: 0 auto;
}

.header {
  width: 100%;
  max-width: 1190px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  min-height: 80px;
  align-items: center;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(5px);
  background: #000000;
  opacity: 0.2;
}

.header__logo {
  font-size: 40px;
  line-height: calc(48/40);
  color: #ffffff;
  letter-spacing: -8px;
  text-transform: uppercase;
  margin-left: 10px;
  z-index: 5;
}
.header__logo:hover {
  color: rgba(255, 255, 255, 0.502972);
  transition: all 0.5s ease;
}

.header__navigation {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}
.header__navigation ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  line-height: calc(32/16);
  color: #ffffff;
  font-family: "Open Sans";
}
.header__navigation ul li:hover {
  color: rgba(255, 255, 255, 0.502972);
  transition: all 0.5s ease;
}

.header__button {
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 22px;
  border: 1px solid #ffffff;
  margin-right: 10px;
  text-align: center;
  flex: 0 0 auto;
  z-index: 5;
}
.header__button:hover {
  border: 1px solid rgba(255, 255, 255, 0.502972);
  color: rgba(255, 255, 255, 0.502972);
  transition: all 0.5s ease;
}

.icon_menu {
  display: none;
}

.main {
  position: relative;
  padding-top: 170px;
  background: #6347F9;
  color: #ffffff;
  text-align: center;
}
.main p {
  font-family: "Open Sans";
  line-height: calc(32/16);
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main h1 {
  font-size: 72px;
  letter-spacing: -14px;
  line-height: calc(80/72);
  margin: 0 10px;
}

.main__wrapper {
  padding-bottom: 300px;
}

.main-itc-slider {
  position: absolute;
  width: 100%;
  top: 60%;
  left: 0;
}

.main-slider-wrapper {
  background: inherit;
  margin: 0 10px;
}

.main-slider-items {
  gap: 15px;
  align-items: center;
}

.main-slider-item {
  flex: 0 0 auto;
  width: 19%;
  display: flex;
  justify-content: center;
}

.main__slide {
  font-family: "Open Sans";
  max-width: 270px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.main__slide h6 {
  width: 100%;
  line-height: calc(32/16);
  color: #333333;
  text-align: start;
}
.main__slide p {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.496405);
  text-align: start;
}
.main__slide:hover {
  cursor: pointer;
}
.main__slide:hover .main__slide-image {
  overflow: hidden;
}
.main__slide:hover .main__slide-image img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.main__slide-image img {
  width: 100%;
  max-width: 270px;
  object-fit: contain;
}

.explore {
  padding: 350px 0 200px;
  display: flex;
  color: #333333;
}

.explore__content {
  flex: 0 1 50%;
  font-family: "Open Sans";
  margin: 0 10px;
}
.explore__content h5 {
  font-size: 16px;
  line-height: calc(32/16);
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.496405);
  margin-bottom: 31px;
}
.explore__content h2 {
  font-family: "Lexend Zetta";
  font-size: 56px;
  line-height: calc(64/56);
  letter-spacing: -12px;
  margin-bottom: 31px;
}
.explore__content p {
  font-size: 20px;
  line-height: calc(32/20);
  margin-bottom: 47px;
}
.explore__content a {
  padding: 14px 28px;
  background: #F07C52;
  font-family: "Lexend Zetta";
  line-height: calc(20/16);
  letter-spacing: -3px;
  text-transform: uppercase;
  color: #ffffff;
}
.explore__content a:hover {
  background: #ffffff;
  color: #F07C52;
  border: 1px solid #F07C52;
  transition: all 0.5s ease;
}

.advantures {
  display: flex;
  column-gap: 50px;
}

.advantures__content {
  gap: 3px;
}
.advantures__content h6 {
  font-size: 24px;
  line-height: calc(32/24);
}
.advantures__content p {
  line-height: calc(32/16);
  color: rgba(51, 51, 51, 0.496405);
}

.explore__image {
  margin: 0 10px;
  flex: 0 1 50%;
  display: flex;
  justify-content: end;
  position: relative;
}
.explore__image p {
  display: none;
}

.explore__image-big img {
  width: 100%;
}

.explore__image-small {
  position: absolute;
  top: 16%;
  left: 0;
}

.discover {
  padding: 75px 0 40px;
  background: rgba(254, 114, 84, 0.08);
}

.discover__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discover__wrapper p {
  font-family: "Open Sans";
  line-height: calc(32/16);
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 34px;
  margin-left: 10px;
}
.discover__wrapper h2 {
  color: #000000;
  font-size: 56px;
  line-height: calc(64/56);
  letter-spacing: -12px;
  text-align: center;
  margin-bottom: 67px;
}

.discover__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.discover__content-item {
  color: #000000;
  margin: 0 10px;
}
.discover__content-item h5 {
  font-size: 40px;
  line-height: calc(48/40);
  letter-spacing: -8px;
}
.discover__content-item p {
  font-family: "Open Sans";
  line-height: calc(32/16);
  opacity: 0.5;
}
.discover__content-item a {
  position: absolute;
  bottom: 32px;
  left: 32px;
  border-radius: 50%;
  padding: 40px 20px;
  background: #F07C52;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: -8px;
  line-height: calc(48/40);
  text-align: center;
}
.discover__content-item:hover .discover__content-image {
  overflow: hidden;
}
.discover__content-item:hover .discover__content-image img {
  transition: all 0.5s ease;
  transform: scale(1.2);
}

.discover__content-image {
  max-width: 370px;
  position: relative;
}

.popular__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 74px 0 192px;
}
.popular__wrapper h2 {
  text-align: start;
}

.popular__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 0 10px;
}

.popular__content-item {
  background: #FFF2F2;
}
.popular__content-item:hover {
  transition: all 0.5s ease;
  background: #6347F9;
  cursor: pointer;
}
.popular__content-item:hover .popular__content-text h5 {
  color: #ffffff;
}
.popular__content-item:hover .popular__content-text .date {
  color: rgba(255, 255, 255, 0.502972);
}
.popular__content-item:hover .popular__content-text .price {
  color: #ffffff;
}
.popular__content-item:hover .popular__content-image {
  overflow: hidden;
}
.popular__content-item:hover .popular__content-image img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.popular__content-text {
  padding: 24px 32px;
  font-family: "Open Sans";
  color: #333333;
}
.popular__content-text h5 {
  font-size: 20px;
  line-height: calc(32/20);
  margin-bottom: 7px;
}
.popular__content-text p {
  margin-bottom: 0;
  opacity: 1;
  letter-spacing: 0;
  font-family: "Lexend Zetta";
}

.date {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.496405);
  line-height: calc(24/14);
}

.price {
  font-size: 40px;
  line-height: 48px;
}

.popular__button {
  width: 100%;
  text-align: center;
  margin-top: 64px;
}
.popular__button a {
  padding: 14px 35px;
  border: 1px solid #F07C52;
  color: #F07C52;
  letter-spacing: -3px;
  text-transform: uppercase;
  line-height: calc(20/16);
}
.popular__button:hover a {
  background: #F07C52;
  color: #ffffff;
  transition: all 0.5s ease;
}

.experience {
  display: flex;
  padding: 0 0 100px 0;
}

.experience__image {
  justify-content: flex-start;
  margin-left: 10px;
}

.experience__image-small {
  left: auto;
  right: 0;
}

.experience__content {
  padding-left: 80px;
}

.content__list {
  display: flex;
  row-gap: 32px;
  column-gap: 86px;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 460px;
  margin-bottom: 57px;
}

.content__list-item {
  display: flex;
  align-items: center;
  column-gap: 16px;
  min-width: 120px;
}

.testimonials {
  padding: 100px 0 100px;
}

.testimonials__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__wrapper .testimonials__text {
  font-family: "Open Sans";
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: calc(32/16);
  color: rgba(51, 51, 51, 0.496405);
  margin-bottom: 34px;
}
.testimonials__wrapper h2 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -12px;
  color: #333333;
  text-align: center;
  margin-bottom: 67px;
}

.testimonials__feedback {
  position: relative;
  width: 100%;
}

.testimonials-slider {
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
}

.testimonials-slider-wrapper {
  margin: 0 10px;
  background: inherit;
}

.testimonials-slider-items {
  align-items: center;
  gap: 23px;
}

.testimonials-slider-item {
  flex: 0 0 33.33%;
  width: 33.33%;
  display: flex;
}

.testimonials__slid {
  max-width: 354px;
}

.testimonials__slid-content {
  position: relative;
  padding: 58px 48px 72px;
  background: #F5F6F8;
  margin-bottom: 18px;
}
.testimonials__slid-content p {
  font-family: "Open Sans";
  line-height: calc(32/16);
  color: rgba(51, 51, 51, 0.496405);
}
.testimonials__slid-content:hover {
  background: #3A76E5;
  transition: all 0.5s ease;
}
.testimonials__slid-content:hover p {
  color: rgba(255, 255, 255, 0.502972);
}

.testimonials__hidden {
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 32px;
  right: 0;
  bottom: 0;
}
.testimonials__hidden::before {
  content: "";
  width: 100%;
  height: 32px;
  position: absolute;
  right: -15px;
  bottom: 0;
  background-color: #ffffff;
  transform: skewX(-45deg);
}

.testimonials__slid-image {
  position: absolute;
  top: 0;
  left: 48px;
}

.slid__author {
  display: flex;
  column-gap: 24px;
}

.slid__author-image {
  position: relative;
}

.slid__author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Open Sans";
}
.slid__author-info h6 {
  font-size: 20px;
  line-height: calc(32/20);
  color: #333333;
  margin-bottom: 7px;
}
.slid__author-info p {
  font-size: 14px;
  line-height: calc(24/14);
  color: rgba(51, 51, 51, 0.496405);
}

.blog {
  background: #11253a;
  padding: 74px 0 86px;
}

.blog__wrapper {
  display: flex;
  flex-direction: column;
}

.blog__text {
  font-family: "Open Sans";
  line-height: calc(32/16);
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.502972);
  margin: 0 10px 33px;
}

.blog__title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 69px;
  padding: 0 10px;
}
.blog__title h2 {
  font-size: 56px;
  letter-spacing: -12px;
  color: #ffffff;
  line-height: calc(64/56);
}
.blog__title a {
  font-family: "Lexend Zetta";
  line-height: calc(20/16);
  text-transform: uppercase;
  letter-spacing: -3px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.502972);
  padding: 14px 35px;
}
.blog__title a:hover {
  background: #ffffff;
  color: #333333;
  transition: all 0.5s ease;
}

.blog__cards {
  margin: 0 10px 89px;
}

.cards-blog {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.card__blog {
  max-width: 570px;
  display: flex;
  flex-direction: column;
}
.card__blog:hover {
  cursor: pointer;
}
.card__blog:hover .card__blog-image {
  overflow: hidden;
}
.card__blog:hover .card__blog-image img {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.card__blog-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background: #ffffff;
  padding: 26px 48px 38px;
}

.card__blog-text {
  font-family: "Open Sans";
  margin-bottom: 38px;
}
.card__blog-text p {
  color: rgba(51, 51, 51, 0.496405);
  line-height: calc(32/16);
}
.card__blog-text p:not(:last-child) {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.card__blog-text h4 {
  color: #333333;
  font-size: 24px;
  line-height: calc(32/24);
  margin-bottom: 19px;
}

.card__blog-foto {
  margin-top: 25px;
  margin-left: 5px;
}

.card__blog-image {
  width: 100%;
}
.card__blog-image img {
  width: 100%;
}

.blog__form {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.blog__form button {
  padding: 14px 27px;
  line-height: calc(20/16);
  letter-spacing: -3px;
  text-transform: uppercase;
  color: #ffffff;
  background: #52AA7F;
}
.blog__form button:hover {
  background: #ffffff;
  color: #333333;
  transition: all 0.5s ease;
}
.blog__form input {
  margin-right: 30px;
  min-width: 270px;
  height: 48px;
  padding: 10px;
  font-family: "Open Sans";
  line-height: calc(32/16);
  color: rgba(51, 51, 51, 0.496405);
}

.blog__form-title {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.blog__form-title h3 {
  font-size: 40px;
  line-height: calc(48/40);
  letter-spacing: -8px;
  color: #ffffff;
}
.blog__form-title p {
  font-family: "Open Sans";
  line-height: calc(32/16);
  color: rgba(255, 255, 255, 0.502972);
}

.contact {
  background: #11253a;
}

.contact__wrapper {
  display: flex;
  position: relative;
  padding: 100px 10px;
}
.contact__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  height: 1px;
  width: 98%;
  background: #ffffff;
  opacity: 0.08;
}

.contact__map {
  flex: 1 1 50%;
}

.contact__information {
  flex: 1 1 50%;
  padding: 10px 0 0 122px;
}

.information-contact h2 {
  font-size: 56px;
  line-height: calc(64/56);
  letter-spacing: -12px;
  color: #ffffff;
  margin-bottom: 29px;
}

.information__contact-minititle {
  font-family: "Open Sans";
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.502972);
  line-height: calc(32/16);
  margin-bottom: 33px;
}

.information__contact-text {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: calc(32/20);
  color: #ffffff;
  margin-bottom: 37px;
}

.information__contact-tel {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.information__contact-telegram {
  display: flex;
  align-items: center;
  gap: 16px;
  color: rgba(255, 255, 255, 0.502972);
  line-height: 32px;
  font-family: "Open Sans";
}